
survive_app/build/
survive_app/.dart_tool/
survive_app/.packages
survive_app/.flutter-plugins
survive_app/.flutter-plugins-dependencies
survive_app/.idea/
survive_app/android/local.properties
survive_app/android/.gradle/
survive_app/android/app/build/
survive_app/ios/Pods/
survive_app/ios/.symlinks/
survive_app/web/build/

meshtastic-firmware/.pio/
meshtastic-firmware/.pioenvs/
meshtastic-firmware/.sconsign*
meshtastic-firmware/sdkconfig.*
meshtastic-firmware/userPrefs.jsonc

docker-compose.yml.override

.vs/
.vscode/settings.json
.idea/
*.swp
*.swo

Thumbs.db
.DS_Store